.products {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.products li {
  display: flex;
  flex-direction: column;
  background: #1d1a39;
  padding: 15px;
  gap: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0px rgb(22, 22, 22);
}

.products img {
  border-radius: 4px;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.products h3 {
  margin: 0;
}

.products span {
  font-size: 1rem;
  opacity: 0.9;
}
